* {
  margin: 0;
}

.marquee-content:hover .header {
  animation-play-state: paused;
}

.header {
  padding: 15px;
  display: inline-block;
  color: rgba(234, 234, 234, 255);
  background-color: black;
  text-transform: uppercase;
  white-space: nowrap;
  animation: moveText 25s linear infinite;
}

.marquee-content {
  overflow: hidden;
  white-space: nowrap;
  font-size: 29px;
  font: caption;
  font-weight: 750;
  font-weight: bold;
  color: rgb(8, 8, 8);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  background-color: black;
}
.flex {
  display: flex;
  flex-direction: row;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.bibcaption {
  padding: 15px;
  display: inline-block;
  color: rgba(234, 234, 234, 255);
  background-color: black;
  
  font:;
  font-weight: 450;
  font-size: 16px;
  flex-direction: row;

 
}
