* {
  margin: 0;
}

.marquee-content:hover .header {
  animation-play-state: paused;
}

.header {
  padding: 15px;
  display: inline-block;
  color: rgba(234, 234, 234, 255);
  background-color: black;
  text-transform: uppercase;
  white-space: nowrap;
  animation: moveText 25s linear infinite;
}

.marquee-content {
  overflow: hidden;
  white-space: nowrap;
  font-size: 29px;
  font: caption;
  font-weight: 750;
  font-weight: bold;
  color: rgb(8, 8, 8);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  background-color: black;
}
.flex {
  display: flex;
  flex-direction: row;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.container {
  padding: 100px;
  width: 1700px;
  height: 400px;
  color: rgba(234, 234, 234, 255);
  background-color: black;
  font-weight: 450;
  font-size: 16px;
  flex-direction: row;
}
.container {
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
  margin-right: 20px; 
}

.bibimage {
  flex: 1;
}

img {
  width: 100%;
  height: auto; 
  display: block; 
}
</style>
